.category-container {
  width: 80%;
  margin-top: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  .category {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    padding: 0;
    margin: 0;
    li {
      color: black;
      border: 1px solid rgb(88, 84, 84);
      padding: 10px 25px;
      cursor: pointer;
      border: solid 1px #ebebeb;
      font-size: 14px;
      font-weight: 500;
      min-width: 108px;
      text-align: center;
      border-radius: 5px;
      justify-self: center;
      align-self: center;
    }
    .active {
        background-color: rgb(255, 70, 70);
        color: white;
      }
  }
}


